.footer
    .footer__wrap
        .footer__logo
            .title Car rental
            .subtitle Car rental internet catalog

        .footer__desc
            span Our service is open 24/7 and is available on social networks. You can leave here your feedback or ask any question to the operator in the chat.

        //.footer__menu
        //    ul
        //        li
        //            a(href="#") About us
        //        li
        //            a(href="#") Choose
        //        li
        //            a(href="#") Contacts

        .footer__socials
            ul
                li
                    i.fab.fa-twitter
                    a(href="#") Twitter
                li
                    i.fab.fa-facebook-square
                    a(href="#") Facebook

        .footer__socials
            ul
                li
                    i.fab.fa-instagram
                    a(href="#") Instagram
                li
                    i.fab.fa-youtube
                    a(href="#") Youtube

.footer__copyright
    span &copy; 2018 Car Rental Company