.header
    .header__wrap
        .header__logo
            .header__logo-title Car rental
            .header__logo-subtitle Car rental internet catalog

        .header__rightblock
            .header__menu
                i.fa.fa-bars
                ul.menu
                    li
                        a(href="#choose") choose
                    li
                        a(href="#about") about us
                    li
                        a(href="#contacts") contacts

                .header__menu-box
                    .btn-frame
                    ul.mobile-menu
                        li
                            a(href="#choose" id="m-choose") choose
                        li
                            a(href="#about" id="m-about") about us
                        li
                            a(href="#contacts" id="m-contacts") contacts

            .header__phone
                i.fa.fa-phone.fa-flip-horizontal
                | (007) 123 456 7890